.login-button {
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 12px;

}

.register-button {
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 12px;
}

.login-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.register-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}