.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease;
  }
  
  .sidebar-open {
    right: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .sidebar li {
    
    display: block; 
  }
  
  .sidebar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .sidebar li a:hover {
    background-color: #111;
  }
  